src/main/config/employees.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://cxf.annotations.security.form.mvc.spring.palvair.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="EmployeeServiceImplService" targetNamespace="http://cxf.annotations.security.form.mvc.spring.palvair.com/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://cxf.annotations.security.form.mvc.spring.palvair.com/" elementFormDefault="unqualified" targetNamespace="http://cxf.annotations.security.form.mvc.spring.palvair.com/" version="1.0">

  <xs:element name="findById" type="tns:findById"/>

  <xs:element name="findByIdResponse" type="tns:findByIdResponse"/>

  <xs:complexType name="findById">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="findByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:employee"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="employee">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="findById">
    <wsdl:part element="tns:findById" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findByIdResponse">
    <wsdl:part element="tns:findByIdResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="EmployeeService">
    <wsdl:operation name="findById">
      <wsdl:input message="tns:findById" name="findById">
    </wsdl:input>
      <wsdl:output message="tns:findByIdResponse" name="findByIdResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EmployeeServiceImplServiceSoapBinding" type="tns:EmployeeService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="findById">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="findById">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="findByIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmployeeServiceImplService">
    <wsdl:port binding="tns:EmployeeServiceImplServiceSoapBinding" name="EmployeeServiceImplPort">
      <soap:address location="http://localhost:8080/spring-developer/cxf/employees"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>